# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# storybook
/storybook-static/

# tsconfig
tsconfig.json
*.tsbuildinfo

# next
next.config.js

# vscode
.vscode

# storybook
.storybook

# prettier
.prettierrc

# eslint
.eslintrc.json
lint-staged.config.js

# pnpm
pnpm-lock.yaml

# docs
README.md
package.json

# jest
jest.setup.js
jest.config.js
__tests__/__snapshots__
